// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

/* bad-script-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Bad Script';
        font-style: normal;
        font-weight: 400;
        src: url('../../public/vendor/fonts/bad-script-v16-latin/bad-script-v16-latin-regular.eot'); /* IE9 Compat Modes */
        src: url('../../public/vendor/fonts/bad-script-v16-latin/bad-script-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../../public/vendor/fonts/bad-script-v16-latin/bad-script-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url('../../public/vendor/fonts/bad-script-v16-latin/bad-script-v16-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
            url('../../public/vendor/fonts/bad-script-v16-latin/bad-script-v16-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
            url('../../public/vendor/fonts/bad-script-v16-latin/bad-script-v16-latin-regular.svg#BadScript') format('svg'); /* Legacy iOS */
    }

	/* space-grotesk-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: 'Space Grotesk';
		font-style: normal;
		font-weight: 400;
		font-size: 8;
		src: url('../../public/vendor/fonts/space-grotesk-v15-latin/space-grotesk-v15-latin-regular.eot'); /* IE9 Compat Modes */
		src: url('../../public/vendor/fonts/space-grotesk-v15-latin/space-grotesk-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../public/vendor/fonts/space-grotesk-v15-latin/space-grotesk-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			 url('../../public/vendor/fonts/space-grotesk-v15-latin/space-grotesk-v15-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			 url('../../public/vendor/fonts/space-grotesk-v15-latin/space-grotesk-v15-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			 url('../../public/vendor/fonts/space-grotesk-v15-latin/space-grotesk-v15-latin-regular.svg#SpaceGrotesk') format('svg'); /* Legacy iOS */
	}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
